<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meli9</title>
    <style>
      .meli {
        height: 200px;
        width: 200px;
        background-color: yellow;
      }
    </style>
  </head>
  <body>
    <div class="code-token-area">
      <h1>Code: <%=code%></h1>
      <h1>Token: <%=token%></h1>
    </div>
    <hr />
    <button class="meli" onclick="window.location.href='/getcode'">
      Gerar Code
    </button>
    <button class="meli" onclick="window.location.href='/gettoken'">
      Gerar Token
    </button>
    <button class="meli" onclick="window.location.href='/mmpublico'">
      MM - Dados Públicos
    </button>
    <button class="meli" onclick="window.location.href='/pessoais'">
      Informações Pessoais
    </button>
    <hr />
    <form action="/consultanome" method="POST">
      <label for="nome">Nome concorrente:</label>
      <input
        type="nome"
        id="consultanome"
        name="nome"
        placeholder="Insira o nome de um perfil do Mercado Livre aqui"
      />
      <button type="submit">Consultar Concorrente</button>
    </form>
    <form action="/consultaid" method="POST">
      <label for="id">ID concorrente:</label>
      <input
        type="id"
        id="consultaid"
        name="id"
        placeholder="Insira o ID de um perfil do Mercado Livre aqui"
      />
      <button type="submit">Consultar Concorrente</button>
    </form>
    <hr />
    <button type="submit" id="noAuth" onclick="window.location.href='/noAuth'">
      No Auth
    </button>
    <button id="basicAuth" onclick="window.location.href='/basicAuth'">
      Basic Auth
    </button>
    <button id="apiKey" onclick="window.location.href='/apiKey'">
      API Key
    </button>
    <button id="bearerToken" onclick="window.location.href='/bearerToken'">
      Bearer Token
    </button>
    <hr />
    <div class="question-area">
      <h2>URL da API:</h2>
      <p><%=url_api%></p>
    </div>
    <div class="response-area">
      <h2>Resultado da API:</h2>
      <p><%=resultado_api%></p>
    </div>
  </body>
</html>
