<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meli9</title>
    <style>
      .meli {
        height: 200px;
        width: 200px;
        background-color: yellow;
      }
    </style>
  </head>
  <body>
    <div class="code-token-area">
      <% if (locals.code) { %>
      <h1>Code: <%=code%></h1>
      <% } %>
      <p></p>
      <% if (locals.token) { %>
      <h1>Token: <%=token%></h1>
      <% } %>
    </div>
    <hr />
    <button class="meli" onclick="window.location.href='/getcode'">
      Gerar Code
    </button>
    <button class="meli" onclick="window.location.href='/gettoken'">
      Gerar Token
    </button>
    <button class="meli" onclick="window.location.href='/mmpublico'">
      MM - Dados Públicos
    </button>
    <button class="meli" onclick="window.location.href='/pessoais'">
      Informações Pessoais
    </button>
    <button class="meli" onclick="window.location.href='/geratabela'">
      Gera Tabela
    </button>
    <hr />
    <form action="/consultauser" method="POST">
      <label for="user">ID/Nickname Usuário:</label>
      <input
        type="user"
        id="consultauser"
        name="user"
        placeholder="670550295 ou 107585822"
      />
      <button type="submit">Consultar Usuário</button>
    </form>
    <form action="/consultaseller" method="POST">
      <label for="seller">ID do Vendedor:</label>
      <input
        type="seller"
        id="consultaseller"
        name="seller"
        placeholder="670550295 ou 107585822"
      />
      <button type="submit">Consultar Vendedor</button>
    </form>
    <hr />
    <form action="/vendas" method="POST">
      <label for="offset">Offset:</label>
      <input type="offset" id="offsetasdf" name="offset" placeholder="0" />
      <button type="submit">Consultar Vendas</button>
    </form>
    <% if (locals.url_api) { %>
    <div class="question-area">
      <h2>URL da API:</h2>
      <p><%=url_api%></p>
    </div>
    <% } %>
    <p></p>
    <% if (locals.resultado_api) { %>
    <div class="response-area">
      <h2>Resultado da API:</h2>
      <p><%=resultado_api%></p>
    </div>
    <% } %>
  </body>
</html>
