<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Meli 9 - Faça o Login</title>
  </head>
  <style>
    body {
      background-color: blanchedalmond;
    }
    button {
      display: inline-block;
      position: absolute;
      z-index: 2;
    }
    form {
      /* width: 10px; */
      height: 600px;
    }
    label {
      /* display: inline-block; */
      /* width: 50px; */
      /* height: 50px; */
      color: red;
      background-color: white;
      /* padding-right: 0px; */
      padding: 0px 0px 0px 0px;
      /* border-left: 5px; */
      margin-left: 5px;
      z-index: 3;
    }
    input {
      /* display: grid; */
      width: 50px;
      height: 17px;
      /* padding-left: 0px; */
      left: -5px;
      bottom: 1px;
      position: relative;
      border: none;
      padding: 0px 0px 0px 0px;
      text-align: center;
    }
    #botao_imagem {
      background-image: url(./login_form.jpeg);
      background-size: 300px 400px;
      width: 300px;
      height: 400px;
      /* z-index: 3; */
    }
    .uhul {
      display: grid;
      /* z-index: 5; */
    }
    .label_input {
      z-index: 5;
      width: 103px;
    }
    #id_input_dois {
      /* pra compensar a diferença de tamanho de caracteres de "login" e "senha" */
      left: -6px;
    }
  </style>
  <body>
    <h1>Bem vindo!</h1>
    <form id="myForm" action="/login" method="POST">
      <div class="uhul">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <div class="label_input">
          <label for="username">Login:</label>
          <input
            type="username"
            name="username"
            id="username"
            required
            autofocus
          />
        </div>
        <div class="label_input">
          <label for="password">Senha:</label>
          <input
            id="id_input_dois"
            type="password"
            name="password"
            id="password"
            required
            autofocus
          />
        </div>
        <button type="submit" id="botao_imagem"></button>
      </div>
    </form>
    <script>
      // https://stackoverflow.com/questions/60218921/how-to-delay-form-submission
      const myform = document.getElementById("myForm");
      myform.addEventListener("submit", handleSubmit);
      var submitTimer;

      function handleSubmit(event) {
        console.log("CLICOU"); //aparece no console do F12
        event.preventDefault();
        document.getElementById("botao_imagem").style.backgroundImage =
          "url(./sucess.jpeg)";
        submitTimer = setTimeout(() => {
          console.log("submitted after 1s");
          this.submit();
        }, 1.5 * 1000);
      }
    </script>
  </body>
</html>
